.heading{
    color: var(--apo-blue);
    margin: 1rem 0;
}

.text-content{
    margin: 3rem 17vw;
}

.stages-container{
    margin: 3rem;

    display: flex;
    gap: 1rem;
    justify-content: center;
}

.membership-container{
    margin: 1rem 17vw;
    padding: 1rem;
    background-color: var(--apo-blue);
    color: white;

    border: 2px solid white;

    box-shadow: 10px 5px  var(--apo-gold);
}

.membership-container:hover{
    transform: translateY(-5px);
    transition: 0.4s;

    background-color: var(--apo-gold);
    box-shadow: 10px 10px  var(--apo-blue);

    color: black;
}

.membership-container:hover .membership-header{
    color: var(--apo-blue);
}

.membership-container:hover .membership-list-header{
    color: var(--apo-blue);
}

.membership-container:hover .membership-list-container{
    border-color: var(--apo-blue);
}





.membership-header-and-body{
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.membership-header{
    color: var(--apo-gold);
    margin-bottom: 1rem; 
}

.membership-lists{
    display: flex;
}

.membership-list-header{
    margin-bottom: 0.5em;
    color: var(--apo-gold)
}

.membership-list-container{
    width: 33%;
    padding-right: 2rem;
    padding-left: 1rem;

    border-left: 3px solid var(--apo-gold);
}



.stage-div{
    background: var(--apo-blue);
    padding: 2rem;
    width: 25%;
}

.stage-header{
    color: var(--apo-gold);
    text-align: center;
    margin-bottom: 1rem;
}

.stage-body{
    color: white;
}

.timeline-container{
    margin: 0 17vw;
}


.timeline-week-container{
    background-color: var(--ibm-cool-gray-10);
    display: flex;

    border-bottom: 1px dashed var(--ibm-cool-gray-40)
}

.timeline-week-text-container{
    border-right: 2px solid var(--ibm-cool-gray-60);
    width: 20%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.timeline-week-text{
    color: var(--ibm-cool-gray-60);
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
}

.timeline-events-container{
    padding: 1rem;
}

.timeline-event{
    font-size: 1rem;
    font-weight: 500;

}

@media(max-width: 500px){
    .text-content{
        margin: 3rem 1rem;
    }

    .membership-container{
        margin: 1rem;
    }

    .membership-lists{
        flex-direction: column;
        gap: 1rem;
    }

    .membership-list-container{
        width: 90%;
    }

    .timeline-container{
        margin: 1rem;
    }

    .timeline-week-container{
        width: 100%;
        
    }

    .timeline-week-text-container{
        width: 40%;
    }
    .timeline-events-container{
        width: 60%;
    }

    .timeline-event{
        padding: 0 0.5rem;
        margin: 0.5rem 0;
        border-left: 1px solid;
    }
}